$mode: PRINT; // PRINT | SCREEN | BIG
$size: 12px;

p {
  @if $mode == PRINT {
    background-color: blue;
  }
  @else if $mode == SCREEN {
    display: flex;
  }
  @else {
    font-size: 50em;
  }

  // La priorité des opérateurs est respectés
  $bool : false;
  @if ($bool == true) or not (true != not false) { //true
    margin : 5px;
  }
}