@mixin transform($property) {
  transform: $property;
}

@mixin margin($side, $topbottom) {
  margin: $topbottom $side;
}

$hello : hello;

.box {
  display: block;

  @include transform(rotate);
  @include margin(hello, hello);
  @include margin($hello, 12px);
}
