nav {
    $test : true;
    @if $test != true {
        padding : 1px;
    }
    
    @if $test == true or not true != not false {
        padding : 1px;
    }
}

$dim:  6px 12px;
$display: block;

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: $dim;
    padding: $display;
    text-decoration: none;
  }
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
