nav, nav {

}
#id, body {

}
nav, #id {

}
#id, body, nav {

}
#id, body {
  // Amazing comment
  @mixin test {
    margin : 12px ;
  }

  @include test;

  $margin : 12px 43px;

  $test : true;

  @if $test {
    padding : 1px;
  } @else if $test {
    padding : 1px;
  }

  @if $test {
    padding : 1px;
  }

  @if $test {
    padding : 1px;
  } @else if $test {
    padding : 1px;
  } @else {
    padding : 1px;
  }

  @if $test {
    padding : 1px;
  } @else if $test {
    padding : 1px;
  } @else if $test{
    padding : 1px;
  } @else if $test {
    padding : 1px;
  } @else if $test {
    padding : 1px;
  } @else {
    padding : 1px;
  }

  $num : 0;

  @while $test {
    padding: $num+1;
  }

  ul > li {
    margin: $margin;
    padding: 0;
    list-style: 12;
  }

  padding: 12px;
  display: flex;

  ul {
    margin: 0;
    padding: 0;
    list-style: 12;
  }

  $test : flex;

  display: $test;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: 12;
  }
}
