$test : true;
nav {

    @if $test == true {
        padding : 1px;
    }

    @if $test == true or not true != not false {
        margin : 5px;
    }

    $value : 2px;
    @if $value >= 5 and $value <= 2 {
      display: block;
    }

    $value : 5;
    @if ($value < 5 and $value < 4 or $value > 1) {
      display: flex;
    }
}
