nav {
  
  ul {
    margin: 0;
    padding: 0;
    list-style: 12;
  }

  padding: 12px;
  display: flex;

  ul {
    margin: 0;
    padding: 0;
    list-style: 12;
  }
  
  display: flex;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: 12;
  }
}
