nav, nav {

}
#id, body {

}
nav, #id {

}
#id, body, nav {

}
#id body, test {
  #id ul > li > nav > yep {
    padding: 0;
    list-style: 12;
  }

  li #id > li li {
    padding: 0;
    list-style: 12;
  }
  > {
    test {
      margin:0;
    }
  }
  
  test > {
    test {
      margin:0;
    }
  }

  > test {
    margin:0;
  }

  padding: 12px;
  display: flex;

  ul {
    margin: 0;
    padding: 0;
    list-style: 12;
  }

  $test : flex;

  display: $test;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: 12;
  }
}
